[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
pillow = "*"
django-seed = "*"
psycopg2-binary = "*"
graphene-django = "*"
django = "==3.2.8"
pyjwt = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
